body{
    font-family: 'Baloo 2', cursive;   
    background-color: #1b2029;
}

#container-1{
    display: flex;
    flex-direction: column;
}

#container-2{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#pageHeader{
    width: 100%;
    height: 10%;
    text-align: center;
    color: #d3cccc;
    font-size: 28px;
}

#sidebar{
    width: 20%;
    height: 90%;
    color: #d3cccc;
    padding-left: 25px;
    text-align: center;
}

#main{       
    width: 80%;
    height: 90%;
    color: #d3cccc;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#mainHeader{
    padding: 5px;    
    font-size: 26px;
}

#mainContent{
    padding: 5px;
    font-size: 22px;
    margin: 50px;
}

button{
    width: 60%;
    padding: 10px;
    border-radius: 0px 5px 0px 5px;
    margin: 10px;
    font-family: 'Baloo 2', cursive;   
    font-size: 18px;
    color: #1b2029;
}

.listButton{
    width: 12.0%;
    padding: 10px;
    border-radius: 0px 5px 0px 5px;
    border-color: #b3b3b3;
    margin: 5px;
    display: none;
}

.listField{
    width: 20%;
    padding: 5px;
    margin: 5px;
    border-radius: 0px 5px 0px 5px;
    border-color: #3b3b52;
    background-color: #3b3b52;
    font-family: 'Baloo 2', cursive;   
    font-size: 18px;
    color: #b3b3b3;
    display: none;
}

.listSelect{
    width: 19%;
    padding: 5px;
    margin: 5px;
    border-radius: 0px 5px 0px 5px;
    border-color: #3b3b52;
    background-color: #3b3b52;
    font-family: 'Baloo 2', cursive;   
    font-size: 18px;
    color: #b3b3b3;
    display: none;
}

button:hover{
    background-color: #1b2029;
    color: #d3cccc;
}

.listButton:hover{
    background-color: #1b2029;
    color: #d3cccc;
}