body{
    font-family: 'Baloo 2', cursive;   
    background-color: #1b2029;
}

#container-1{
    display: flex;
    flex-direction: column;
}

#container-2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#pageHeader{
    width: 60%;
    height: 10%;
    text-align: center;
    color: #d3cccc;
    font-size: 28px;
    border: 2px solid #d3cccc;
    margin-left: 20%;
}

#sidebar{
    width: 10%;
    height: 90%;
    color: #d3cccc;
    text-align: center;
    border: 2px solid #d3cccc;
    margin-left: 20%;
    display: block;
}

#main{       
    width: 49%;
    color: #d3cccc;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#mainHeader{ 
    font-size: 26px;
    border: 2px solid #d3cccc;
    margin-bottom: 20px;
}

#mainContent{
    font-size: 22px;
    margin-bottom: 20px;
    border: 2px solid #d3cccc;
}

button{
    width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 0px 5px 0px 5px;
    font-family: 'Baloo 2', cursive;   
    font-size: 18px;
    color: #1b2029;
}

.listButton{
    width: 15.0%;    
    margin: 5px;
    border-radius: 0px 5px 0px 5px;
    border-color: #b3b3b3;
    font-size: 18px;
}

.listField{
    width: 18%;
    padding: 10px;
    margin: 5px;
    border-radius: 0px 5px 0px 5px;
    border-color: #3b3b52;
    background-color: #3b3b52;
    font-family: 'Baloo 2', cursive;   
    font-size: 18px;
    color: #b3b3b3;    
}

button:hover{
    background-color: #1b2029;
    color: #d3cccc;
}

.listButton:hover{
    background-color: #1b2029;
    color: #d3cccc;
}

#mainUpperArea{
    display: none;
    border: 2px solid #d3cccc;
}

#mainLowerArea{
    margin-top: 20px;
    display: none;
    border: 2px solid #d3cccc;
}

/*Placeholder zentrieren*/
::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

 li{    
    display: table;
    margin: 0 auto;
}