body{
    font-family: 'Baloo 2', cursive;   
    font-size: 20px;
    background-color: #1b2029;
}

#container-1{
    display: flex;
    flex-direction: column;
}

#container-2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#pageHeader{
    width: 100%;
    height: 10%;
    text-align: center;
    color: #d3cccc;
    font-size: 24px;
}

#sidebar{
    width: 20%;
    height: 90%;
    color: #d3cccc;
    padding-left: 5px;
}

#main{       
    width: 80%;
    height: 90%;
    color: #d3cccc;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#mainHeader{
    padding: 5px;    
}

#mainContent{
    padding: 5px;
    margin-top: 75px;
    margin-bottom: 75px;
}

#mainUpperBottom{
    padding: 5px;
}

#mainLowerBottom{
    padding: 5px;
}

button{
    width: 180px;
    padding: 10px;
    border-radius: 0px 5px 0px 5px;
    margin: 10px;
    font-family: 'Baloo 2', cursive;   
    font-size: 16px;
    color: #1b2029;
}

.listButton{
    width: 180px;
    padding: 10px;
    border-radius: 0px 5px 0px 5px;
    border-color: #b3b3b3;
    margin: 0px;
}

.listField{
    width: 180px;
    padding: 5px;
    margin: 5px;
    border-radius: 0px 5px 0px 5px;
    border-color: #3b3b52;
    background-color: #3b3b52;
    font-family: 'Baloo 2', cursive;   
    font-size: 14px;
    color: #b3b3b3;
}

.listSelect{
    width: 193px;
    padding: 5px;
    margin: 5px;
    border-radius: 0px 5px 0px 5px;
    border-color: #3b3b52;
    background-color: #3b3b52;
    font-family: 'Baloo 2', cursive;   
    font-size: 14px;
    color: #b3b3b3;
}

button:hover{
    background-color: #1b2029;
    color: #d3cccc;
}

.listButton:hover{
    background-color: #1b2029;
    color: #d3cccc;
}